doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width,initial-scale=1')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')
        title Document
        link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet' href='css/jquery.mCustomScrollbar.min.css')
        link(rel='stylesheet' href='css/main.css')
    body
        section.products
            .container
                .products-content
                    h2.products-title CASSA
                    .products-box
                        img.img(src='img/doska2.png' alt='doska')
                        - 
                            var productItems = [
                                {id: "1", name: "PINEAPPLE", img : "img/product1.png", price_new: "8.50", price_old: "19.00"},
                                {id: "2", name: "berries", img : "img/product2.png", price_new: "8.50", price_old: "19.00"},
                                {id: "3", name: "grapefruit", img : "img/product3.png", price_new: "8.50", price_old: "19.00"},
                                {id: "4", name: "APPLE", img : "img/product4.png", price_new: "8.50", price_old: "19.00"}
                            ]
                        each productItem in productItems
                            .products-item
                                .product(data-id= productItem.id)
                                    .product__inner
                                        h3.product__name
                                            a.product__name-link(href='#')= productItem.name
                                        .product__img
                                            a.product__img-link(href='#')
                                                img.product__img-image(src= productItem.img alt='PINEAPPLE')
                                        .product__lable OFFERTA LIMITATA -50%  
                                        .price
                                            .price__new
                                                span $
                                                span.price__new-number= productItem.price_new
                                            .price__old
                                                span.price__old-number= productItem.price_old
                                                span $
                                        .buy-block
                                            .quantity
                                                .quantity__selected
                                                    .quantity__number 3
                                                    .quantity__arrow
                                                        img(src='img/arrow.png' alt='arrow')
                                                .list.product__list.style-scrollbar
                                                    - var n = 1;
                                                    ul.list__container      
                                                        while n <= 50
                                                            li.list__item.product__list-item= n++
                                            button.button(type='button')
                                                img.button-img(src='img/buy.png' alt='buy')  
        section.popup.style-scrollbar
            .popup-container.popup-title
                .popup-arrow
                    img(src='img/arrow2.png' alt='arrow')
                h2.popup-title__text Carello    
            .popup-content
                .popup-products
                    .popup-container
                        template#template
                            .popup-product(data-price= "0" data-id= "0")
                                i.material-icons.popup-product__delete close
                                .popup-product__img
                                    a.popup-product__img-link(href='#')
                                        img.popup-product__img-image(src= "" alt='product')
                                .popup-product__text
                                    .popup-product__lable   offerta
                                    .popup-product__brand
                                        a.popup-product__brand-link(href='#') fizzyslim con sapore di
                                    .popup-product__name
                                        a.popup-product__name-link(href='#')
                                    .popup-product__qta 
                                        span QTÀ:
                                        span.popup-product__qta-number 3 
                                        i.popup-product__qta-arrow.material-icons arrow_drop_down
                                        .list.popup__list.style-scrollbar-wk
                                            - var n = 1;
                                            ul.list__container      
                                                while n <= 50
                                                    li.list__item.popup__list-item= n++
                                    .popup-product__price
                                        span €
                                        span.popup-product__price-number 25.50 
                           
                .popup-sum
                    .popup-container
                        .popup-sum__title  Subtotale
                        .popup-sum__price 
                            span €
                            span.popup-sum__price-number 455.00
            .popup-btn 
                button.popup-btn__button(type='button') VISUALIZZA CARRELLO
        .overlay
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
        script(src='js/jquery.mCustomScrollbar.concat.min.js')
        script(src='js/script.js')




                        



